<%- include ('partials/header'); -%>

<form action="/" method="post">
  <h1>Login</h1>
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <!-- it's not necessary to put the type:submit because button already does the event -->
  <button type="submit">Login</button>
</form>

<%- include('partials/footer'); -%>
